# This is a systemd startup file if you are on a system that
# supports systemd and you want mlapi to work as an always 
# on service

[Unit]
Description=ZMEventServer Detection Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
# We need this to get logs correctly
Environment=PYTHONUNBUFFERED=1

# change this 
WorkingDirectory=/var/lib/zmeventnotification/zmdetect_daemon
# Change to your username
User=www-data
#Change paths if needed
ExecStart=/usr/bin/python3 zm_detect_daemon.py --config /etc/zm/objectconfig.ini


#StandardOutput=file:/var/log/zoneminder/mlapi.log
#StandardError=file:/var/log/zoneminder/mlapi_error.log
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=mlapi

[Install]
WantedBy=multi-user.target
